{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} Rikardocorp {% endblock title %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'catalogo/plugins/bootstrap3/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'catalogo/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">


    <!-- Custom CSS -->
    <link href="{% static 'catalogo/plugins/startbootstrap/css/2-col-portfolio.css' %}" rel="stylesheet">
    <link href="{% static 'catalogo/plugins/startbootstrap/css/round-about.css' %}" rel="stylesheet">

    {% block stylesheet %}{% endblock stylesheet %}

    <link href="{% static 'catalogo/css/style.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="skinWeb">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        {% include 'catalogo/main/header.html' %}
    </nav>

    <div id="conte-message" style="display: none">
        <div id="skin-message" class="alert alert-warning" role="alert">
            Skin Images
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        {% block contenido %}

        {% endblock contenido %}


        <!-- Footer -->
        {% include 'catalogo/main/footer.html' %}

    </div>
    <!-- /.container -->





    <!-- jQuery -->
    <script src="{% static 'catalogo/plugins/jquery/jquery-1.12.4.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'catalogo/plugins/bootstrap3/js/bootstrap.min.js' %}"></script>

    <script>
        $('#skin-message').click(function (){
            $('#conte-message').fadeToggle();
        });

    </script>
    {% block javascript %}

    {% endblock javascript %}


</body>

</html>
